* {
    text-decoration: none !important;
}

:root {
    --primary-color: #3AAAFF;
    --secondary-color: #00396b;
    --terciary-color: #c1e0fd;
    --neutral: #B9AFBE;
    --light-color: #0e528d83;
}

.bg-primary {
    background-color: var(--secondary-color) !important;
}


a:hover {
    color: var(--primary-color);
}

.logo {
    width: 50px;
}

#home {
    height: 100vh;
    justify-content: center;
}

.avatar {
    margin-top: 50px;
    width: 400px;
    max-width: 90vw;
}

#sobre {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#sobre .card {
    min-width: 30%;
    background-color: var(--light-color) !important;
    color: var(--terciary-color);
}

.card-group {
    width: 1200px;
    max-width: 95vw;
    margin-bottom: 20px;
}

.card {
    background-color: var(--secondary-color) !important;
    color: var(--terciary-color);

}

.card-title {
    font-size: 2rem;
}

.card-text {
    text-align: justify;
}

.list-group-item {
    background-color: var(--light-color);
    color: var(--terciary-color);
}

.list-group-item:hover {
    background-color: var(--secondary-color);
    color: var(--terciary-color);
}

.btn-outline-success {
    width: 300px;
    border: 3px solid rgb(51, 255, 0);
    color: rgb(51, 255, 0);
}

.btn-outline-success:hover {
    background-color: rgb(51, 255, 0);
    border: 3px solid rgb(51, 255, 0);
    color: #0D4C82;
}


.contact {
    background-color: #0D4C82;
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: -120px;
    max-width: 95vw;
    text-align: center;
}

#sobre,
#projects,
#contact {
    padding-top: 80px;
}



@media (max-width:992px) {

    #home,
    #sobre,
    #projects,
    #contact {
        padding-top: 165px;
    }

    #sobre {
        height: auto;
    }

}

@media (max-width:800px) {
    .card-group {
        flex-direction: column;
        max-width: 85vw;
    }

    .card {
        margin-bottom: 20px !important;
        border-radius: 5px !important;
    }

    .card-img-top {
        border-radius: 5px 5px 0px 0px !important;
    }
}
